## Part 1: Preprocessing

In [56]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import numpy as np
from tensorflow.keras.models import Model
from tensorflow.keras import layers
import io


#  Import and read the attrition data
attrition_df = pd.read_csv('https://static.bc-edx.com/ai/ail-v-1-0/m19/lms/datasets/attrition.csv')
attrition_df.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,HourlyRate,JobInvolvement,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,Sales,1,2,Life Sciences,2,94,3,...,3,1,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,Research & Development,8,1,Life Sciences,3,61,2,...,4,4,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,Research & Development,2,2,Other,4,92,2,...,3,2,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,Research & Development,3,4,Life Sciences,4,56,3,...,3,3,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,Research & Development,2,1,Medical,1,40,3,...,3,4,1,6,3,3,2,2,2,2

In [57]:
# Determine the number of unique values in each column.
attrition_df.nunique()

Age                         43
Attrition                    2
BusinessTravel               3
Department                   3
DistanceFromHome            29
Education                    5
EducationField               6
EnvironmentSatisfaction      4
HourlyRate                  71
JobInvolvement               4
JobLevel                     5
JobRole                      9
JobSatisfaction              4
MaritalStatus                3
NumCompaniesWorked          10
OverTime                     2
PercentSalaryHike           15
PerformanceRating            2
RelationshipSatisfaction     4
StockOptionLevel             4
TotalWorkingYears           40
TrainingTimesLastYear        7
WorkLifeBalance              4
YearsAtCompany              37
YearsInCurrentRole          19
YearsSinceLastPromotion     16
YearsWithCurrManager        18
dtype: int64

In [58]:
# Create y_df with the Attrition and Department columns
y_df = attrition_df[['Attrition', 'Department']]
y_df.head()

  Attrition              Department
0       Yes                   Sales
1        No  Research & Development
2       Yes  Research & Development
3        No  Research & Development
4        No  Research & Development

In [59]:
print(y_df.dtypes)

Attrition     object
Department    object
dtype: object

In [60]:
# Create a list of at least 10 column names to use as X data
selected_columns = ['Age', 'DistanceFromHome', 'Education', 'HourlyRate', 'JobSatisfaction', 'StockOptionLevel',
                    'WorkLifeBalance', 'YearsAtCompany', 'YearsSinceLastPromotion', 'NumCompaniesWorked']

# Create X_df using your selected columns
X_df = attrition_df[selected_columns]

# Show the data types for X_df
print(X_df.dtypes)
X_df

Age                        int64
DistanceFromHome           int64
Education                  int64
HourlyRate                 int64
JobSatisfaction            int64
StockOptionLevel           int64
WorkLifeBalance            int64
YearsAtCompany             int64
YearsSinceLastPromotion    int64
NumCompaniesWorked         int64
dtype: object

,Age,DistanceFromHome,Education,HourlyRate,JobSatisfaction,StockOptionLevel,WorkLifeBalance,YearsAtCompany,YearsSinceLastPromotion,NumCompaniesWorked
0,41,1,2,94,4,0,1,6,0,8
1,49,8,1,61,2,1,3,10,1,1
2,37,2,2,92,3,0,3,0,0,6
3,33,3,4,56,3,0,3,8,3,1
4,27,2,1,40,2,1,3,2,2,9
...,...,...,...,...,...,...,...,...,...,...
1465,36,23,2,41,4,1,3,5,0,4
1466,39,6,1,42,1,1,3,7,1,4
1467,27,4,3,87,2,1,3,6,0,1
1468,49,2,3,63,2,0,2,9,0,2
1469,34,8,3,82,3,0,4,4,1,2

In [61]:
print(y_df.dtypes)

Attrition     object
Department    object
dtype: object

In [62]:
X = X_df
y = y_df

In [63]:
# Split the data into training and testing sets
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20, random_state=42)

In [64]:
# Convert your X data to numeric data types however you see fit
# Add new code cells as necessary
print(X.dtypes)

Age                        int64
DistanceFromHome           int64
Education                  int64
HourlyRate                 int64
JobSatisfaction            int64
StockOptionLevel           int64
WorkLifeBalance            int64
YearsAtCompany             int64
YearsSinceLastPromotion    int64
NumCompaniesWorked         int64
dtype: object

In [65]:
# Create a StandardScaler
scaler = StandardScaler()

# Fit the StandardScaler to the training data
X_train_scaled = scaler.fit_transform(X_train)

# Scale the training and testing data
X_test_scaled = scaler.transform(X_test)

In [66]:
from sklearn.preprocessing import OneHotEncoder

In [67]:
print(y_train['Department'].unique())

['Research & Development' 'Sales' 'Human Resources']

In [68]:
# Create a OneHotEncoder for the Department column
encoder_department = OneHotEncoder(sparse_output=False)

# Fit the encoder to the training data
encoder_department.fit(y_train[['Department']])

# Create two new variables by applying the encoder
# to the training and testing data
y_train_department = encoder_department.transform(y_train[['Department']])
y_test_department = encoder_department.transform(y_test[['Department']])

y_train_department

array([[0., 1., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       ...,
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [69]:
print(y_train['Attrition'].unique())

['No' 'Yes']

In [70]:
# Create a OneHotEncoder for the Attrition column
encoder_attrition = OneHotEncoder(sparse_output=False)

# Fit the encoder to the training data
encoder_attrition.fit(y_train[['Attrition']])

# Create two new variables by applying the encoder
# to the training and testing data
y_train_attrition = encoder_attrition.transform(y_train[['Attrition']])
y_test_attrition = encoder_attrition.transform(y_test[['Attrition']])

y_train_attrition

array([[1., 0.],
       [1., 0.],
       [1., 0.],
       ...,
       [0., 1.],
       [1., 0.],
       [1., 0.]])

## Create, Compile, and Train the Model

In [71]:
# Find the number of columns in the X training data
number_input_features = len(X_train.columns)

# Create the input layer
input_layer = layers.Input(shape=number_input_features, name='input_features')

# Create at least two shared layers
shared_layer1 = layers.Dense(64, activation='relu')(input_layer)
shared_layer2 = layers.Dense(32, activation='relu')(shared_layer1)

In [72]:
# Create a branch for Department
# with a hidden layer and an output layer

# Create the hidden layer
department_dense = layers.Dense(64, activation = 'relu') (shared_layer2)

# Create the output layer
num_departments = 3
department_output = layers.Dense(num_departments, 
                                 activation = 'softmax',
                                 name='department_output')(department_dense)

In [73]:
# Create a branch for Attrition
# with a hidden layer and an output layer

# Create the hidden layer
attrition_dense = layers.Dense(64, activation = 'relu') (shared_layer2)

# Create the output layer
num_attrition = 2
attrition_output = layers.Dense(num_attrition, 
                                activation='sigmoid', 
                                name='attrition_output')(attrition_dense)

In [75]:
# Create the model
model = Model(inputs=input_layer, outputs=[
    department_output,
    attrition_output,
  ])

# Compile the model
model.compile(optimizer='adam',
              loss={'department_output': 'categorical_crossentropy',
                    'attrition_output': 'binary_crossentropy'},
              metrics={'department_output': 'accuracy',
                       'attrition_output': 'accuracy'})

# Summarize the model
model.summary()

Model: "model_2"
__________________________________________________________________________________________________
 Layer (type)                Output Shape                 Param #   Connected to
==================================================================================================
 input_features (InputLayer  [(None, 10)]                 0         []
 )

 dense_11 (Dense)            (None, 64)                   704       ['input_features[0][0]']

 dense_12 (Dense)            (None, 32)                   2080      ['dense_11[0][0]']

 dense_13 (Dense)            (None, 64)                   2112      ['dense_12[0][0]']

 dense_14 (Dense)            (None, 64)                   2112      ['dense_12[0][0]']

 department_output (Dense)   (None, 3)                    195       ['dense_13[0][0]']

 attrition_output (Dense)    (None, 2)                    130       ['dense_14[0][0]']

==================================================================================================
Total params: 7333 (28.64 KB)
Trainable params: 7333 (28.64 KB)
Non-trainable params: 0 (0.00 Byte)
__________________________________________________________________________________________________

In [76]:
model.fit(
    X_train_scaled,
    {'department_output': y_train_department,
    'attrition_output': y_train_attrition
    },
    epochs=10, 
    batch_size=32,  
    validation_split=0.2  
)

Epoch 1/10

30/30 [==============================] - 0s 4ms/step - loss: 1.4890 - department_output_loss: 0.9193 - attrition_output_loss: 0.5697 - department_output_accuracy: 0.6181 - attrition_output_accuracy: 0.8362 - val_loss: 1.4101 - val_department_output_loss: 0.8515 - val_attrition_output_loss: 0.5586 - val_department_output_accuracy: 0.6314 - val_attrition_output_accuracy: 0.7966
Epoch 2/10
30/30 [==============================] - 0s 1ms/step - loss: 1.2441 - department_output_loss: 0.7866 - attrition_output_loss: 0.4575 - department_output_accuracy: 0.6553 - attrition_output_accuracy: 0.8404 - val_loss: 1.3760 - val_department_output_loss: 0.8233 - val_attrition_output_loss: 0.5527 - val_department_output_accuracy: 0.6314 - val_attrition_output_accuracy: 0.7966
Epoch 3/10
30/30 [==============================] - 0s 1ms/step - loss: 1.2105 - department_output_loss: 0.7694 - attrition_output_loss: 0.4410 - department_output_accuracy: 0.6553 - attrition_output_accuracy: 0.8404 - val_loss: 1.3377 - val_department_output_loss: 0.8077 - val_attrition_output_loss: 0.5299 - val_department_output_accuracy: 0.6314 - val_attrition_output_accuracy: 0.7966
Epoch 4/10
30/30 [==============================] - 0s 1ms/step - loss: 1.1886 - department_output_loss: 0.7624 - attrition_output_loss: 0.4262 - department_output_accuracy: 0.6532 - attrition_output_accuracy: 0.8404 - val_loss: 1.3317 - val_department_output_loss: 0.8108 - val_attrition_output_loss: 0.5209 - val_department_output_accuracy: 0.6314 - val_attrition_output_accuracy: 0.7966
Epoch 5/10
30/30 [==============================] - 0s 1ms/step - loss: 1.1716 - department_output_loss: 0.7545 - attrition_output_loss: 0.4170 - department_output_accuracy: 0.6585 - attrition_output_accuracy: 0.8404 - val_loss: 1.3351 - val_department_output_loss: 0.8127 - val_attrition_output_loss: 0.5224 - val_department_output_accuracy: 0.6314 - val_attrition_output_accuracy: 0.7966
Epoch 6/10
30/30 [==============================] - 0s 1ms/step - loss: 1.1558 - department_output_loss: 0.7455 - attrition_output_loss: 0.4103 - department_output_accuracy: 0.6553 - attrition_output_accuracy: 0.8404 - val_loss: 1.3182 - val_department_output_loss: 0.8063 - val_attrition_output_loss: 0.5119 - val_department_output_accuracy: 0.6144 - val_attrition_output_accuracy: 0.7966
Epoch 7/10
30/30 [==============================] - 0s 1ms/step - loss: 1.1411 - department_output_loss: 0.7387 - attrition_output_loss: 0.4023 - department_output_accuracy: 0.6585 - attrition_output_accuracy: 0.8404 - val_loss: 1.3280 - val_department_output_loss: 0.8114 - val_attrition_output_loss: 0.5165 - val_department_output_accuracy: 0.6271 - val_attrition_output_accuracy: 0.7966
Epoch 8/10
30/30 [==============================] - 0s 1ms/step - loss: 1.1254 - department_output_loss: 0.7300 - attrition_output_loss: 0.3954 - department_output_accuracy: 0.6596 - attrition_output_accuracy: 0.8404 - val_loss: 1.3442 - val_department_output_loss: 0.8309 - val_attrition_output_loss: 0.5133 - val_department_output_accuracy: 0.6314 - val_attrition_output_accuracy: 0.7966
Epoch 9/10
30/30 [==============================] - 0s 1ms/step - loss: 1.1184 - department_output_loss: 0.7288 - attrition_output_loss: 0.3896 - department_output_accuracy: 0.6596 - attrition_output_accuracy: 0.8404 - val_loss: 1.3241 - val_department_output_loss: 0.8180 - val_attrition_output_loss: 0.5060 - val_department_output_accuracy: 0.6271 - val_attrition_output_accuracy: 0.7966
Epoch 10/10
30/30 [==============================] - 0s 1ms/step - loss: 1.1023 - department_output_loss: 0.7184 - attrition_output_loss: 0.3839 - department_output_accuracy: 0.6617 - attrition_output_accuracy: 0.8404 - val_loss: 1.3214 - val_department_output_loss: 0.8167 - val_attrition_output_loss: 0.5046 - val_department_output_accuracy: 0.6271 - val_attrition_output_accuracy: 0.8008

In [77]:
# Evaluate the model on the testing set
evaluation_results = model.evaluate(
    X_test_scaled,
        {'department_output': y_test_department,
         'attrition_output': y_test_attrition}
)

10/10 [==============================] - 0s 689us/step - loss: 1.1714 - department_output_loss: 0.7940 - attrition_output_loss: 0.3774 - department_output_accuracy: 0.6735 - attrition_output_accuracy: 0.8673

In [78]:
# Print the accuracy for both department and attrition
# Structure is [total_loss, department_loss, attrition_loss, department_accuracy, attrition_accuracy]
department_accuracy = evaluation_results[-2]  # Second to last item
attrition_accuracy = evaluation_results[-1]   # Last item

# Print the accuracies
print(f"Accuracy for department output: {department_accuracy*100:.2f}%")
print(f"Accuracy for attrition output: {attrition_accuracy*100:.2f}%")

Accuracy for department output: 67.35%
Accuracy for attrition output: 86.73%

# Summary

In the provided space below, briefly answer the following questions.

1. Is accuracy the best metric to use on this data? Why or why not?

2. What activation functions did you choose for your output layers, and why?

3. Can you name a few ways that this model might be improved?

While accuracy is a straightforward metric for evaluating model performance, it may not always be the best metric, particularly in scenarios with imbalanced classes. In the context of attrition, if a significant majority of employees stay with the company, a model could achieve high accuracy simply by predicting that no employees will leave. This scenario wouldn't truly reflect the model's predictive power regarding attrition. Similarly, for department predictions, accuracy might mask the model's performance on smaller departments if the data distribution across departments is uneven. Metrics such as precision, recall, and the F1 score can offer a more nuanced understanding of the model's effectiveness, especially in imbalanced situations, by taking into account false positives and false negatives.
Based on the nature of the tasksâ€”multi-class classification for department prediction and binary classification for attrition predictionâ€”the choice of activation functions is crucial. For department prediction, a softmax activation function is suitable as it can handle multiple classes by outputting a probability distribution across the departments, making it easy to identify the most likely department for each employee. For attrition prediction, a sigmoid activation function is appropriate because it outputs a probability score between 0 and 1, ideal for binary outcomes, indicating the likelihood of an employee leaving the company.
Given the accuracy results, there is room for improvement, especially in the department prediction accuracy. Several strategies could enhance the model's performance: Balancing the Dataset: For the attrition prediction, balancing the dataset could improve model sensitivity to the minority class (employees likely to leave). Advanced Feature Engineering: Creating more sophisticated features or selecting features more strategically could improve the model's ability to capture complex patterns and relationships in the data. Model Architecture Optimization: Experimenting with the depth of the network, the number of neurons in hidden layers, or different branching strategies could uncover more effective architectures for this specific problem. Hyperparameter Tuning: Systematic tuning of hyperparameters, including learning rate, batch size, and epochs, could lead to better model performance. Alternative Evaluation Metrics: Employing a broader set of evaluation metrics, such as precision, recall, the F1 score for attrition, and weighted accuracy or F1 scores for department predictions, might provide deeper insights into areas where the model excels or falls short. These adjustments and considerations could significantly enhance the model's predictive accuracy and generalization capability, leading to more effective HR interventions and strategic planning.